/*--------------------------------GLOBAL CONDITIONS--------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;700&family=Poppins:wght@300&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;*/
    box-sizing: border-box;
    font-family: Poppins;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*--------------------------------NAVIGATION BAR--------------------------------*/
#navbarWrapper {
  /*border: 1px solid black;*/
  width: 100%;
  height: 58px;
  background: black;
  display: flex;
}

#navbarLogo {
  /*border: 1px solid black;*/
  margin-top: 0.25cm;
  margin-left: 0.25cm;
  width: 110px;
  height: 105px;
  z-index: 10;
}

#navbarLogo:hover {
  cursor: pointer;
}

#leftNavbarButtonWrapper {
  /*border: 1px solid red;*/
  border-spacing: 1cm 0;
}

.leftNavbarButtons {
  /*border: 1px solid green;*/
  display: inline-flex;
  color: white;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 0.25cm 0 0.25cm;
  padding: 0 0.25cm 0 0.25cm;
}

.leftNavbarButtons:hover {
  color: #c2c2c2;
  cursor: pointer;
}

#donateButton {
  position: absolute;
  right: 2mm;
  top: 2mm;
  height: 1.1cm;
  width: 5cm;
  background: red;
  border: none;
  outline: none;
  color: white;
  font-size: 0.5cm;
  border-radius: 5px;
}

#donateButton:hover {
  cursor: pointer;
}

.navbarSocialMediaImage {
  /*border: 1px solid green;*/
  width: 0.6cm;
  height: 0.6cm;
  margin: 0 0.25cm 0 0.25cm;
}

#navbarSocialMediaImageWrapper {
  /*border: 1px solid red;*/
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 6cm;
  top: 0mm;
}

.navbarSocialMediaImage:hover {
  cursor: pointer;
}

/*--------------------------------HOMEPAGE--------------------------------*/
#homePageTopImageWrapper {
  /*border: 3px solid green;*/
  /*background: brown;*/
  /*height: calc(100vh - 58px);*/
  position: absolute;
  display: flex;
  top: 58px;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#homePageTopImage{
  display: flex;
  z-index: 1;
  width: 100%;
}

#homePageSeeOurPastWorkWrapper {
  position: absolute;
  display: flex;
  top: 58px;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /*border: 3px solid blue;*/
}

#seeOurPastWorkBox {
  display: grid;
  /*grid-template-columns: 100%;
  grid-template-rows: 20px 175px 175px;*/
  background: rgba(255, 255, 255, 0.6);
  /*border: 1px solid black;*/
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  height: 370px;
  z-index: 2;
  font-size: 350%;
  grid-gap: 0px;
  border: 3px dashed white;
  border-radius: 30px;
}

#seeOurPastWorkText {
  display: flex;
  text-align: center;
  /*border: 1px solid green;*/
  justify-content: center;
  align-items: center;
  /*grid-row: 2 / 2;
  grid-column: 1 / 1;*/
}

#seeOurPastWorkButtonWrapper {
  display: flex;
  /*border: 1px solid red;*/
  /*grid-row: 3 / 3;
  grid-column: 1 / 1;*/
  justify-content: center;
  align-items: center;
}

#seeOurPastWorkButton {
  width: 40%;
  height: 80px;
  font-size: 0.6em;
  background-color: red;
  border: none;
  outline: none;
  border-radius: 3px;
  color: white;
}

#seeOurPastWorkButton:hover {
  cursor: pointer;
}

#getInTouchWrapper {
  height: 500px;
  /*border: 1px solid green;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20% 0 20%;
  background: #1c1c1c;
  color: white;
}

#getInTouchBox {
  /*border: 1px solid red;*/
}

#getInTouchHeader {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

#getInTouchText {
  font-size: 1.3em;
  text-align: center;
}

#homePageBottomImageWrapper {
  height: 800px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homePageBottomImage {
  width: 100%;
}
/*--------------------------------CONTACT US PAGE--------------------------------*/
#contactPageNavButton {
  background: linear-gradient(to top, white, black 10%);
}

/*--------------------------------OUR MISSION PAGE--------------------------------*/
#missionPageNavButton {
  background: linear-gradient(to top, white, black 10%);
}

/*--------------------------------SERVICES PAGE--------------------------------*/
#servicesPageNavButton {
  background: linear-gradient(to top, white, black 10%);
}

/*--------------------------------TEAM PAGE--------------------------------*/
#teamPageNavButton {
  background: linear-gradient(to top, white, black 10%);
}

/*--------------------------------FOOTER--------------------------------*/
#footerWrapper {
  background: #363636;
  color: white;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerContent {
  height: 200px;
  background: red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerLogos {
  display: inline-flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Exo 2";
  font-size: 2.5em;
}

#footerSpace {
  display: inline-flex;
  width: 40%;
  height: 100%;
}

#footerLinks {
  display: inline-flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
